# AI Backend
VITE_AI_API_URL=http://localhost:8000

# Upload mode: supabase (direct) or backend
VITE_UPLOAD_MODE=supabase

# Supabase
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key
VITE_SUPABASE_STORAGE_BUCKET=photos
CLOUDINARY_CLOUD_NAME=dpxzkulla
CLOUDINARY_API_KEY=519359125245794
CLOUDINARY_API_SECRET=5pa6KyvSphRfeFCZmj04ONjcmpw
